NEXT_PUBLIC_PETOWNER_API_URL=http://localhost:8090
NEXT_PUBLIC_PLATFORM_API_URL=http://localhost:8080
NEXT_PUBLIC_REALTIME_URL=http://localhost:8091
NEXT_PUBLIC_SITE_URL=https://slivadoc.id
GOOGLE_SITE_VERIFICATION=
BING_SITE_VERIFICATION=
INDEXNOW_KEY=
SEO_WEBHOOK_SECRET=
